<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
 	<th:block th:insert="header.html::header"></th:block>
 	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">No</th>
	      <th scope="col">Amount</th>
	      <th scope="col">Transaction charge</th>
	      <th scope="col">Note</th>
	      <th scope="col">Quantity</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr th:each="obj,iter:${withdrawals}">
	  		<td th:text="${iter.index}"></td>
	  		<td th:text="${obj?.amount}"></td>
	  		<td th:text="${obj?.charge}"></td>
	  		<td th:text="${obj?.noteType+' ('+obj?.currencyType+')'}"></td>
	  		<td th:text="${obj?.quantity}"></td>
	  	</tr>
	  </tbody>
	</table>
	<h5>Balance: <th:block th:text="${user?.balance}"></th:block></h5>
</body>
</html>